li {
  padding: 5px;
  margin: 5px;
  list-style: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background-color: #ff5e4a !important;
  background-image: url('https://img.thedailybeast.com/image/upload/v1498619797/170627-rothabum-burger-tease_h4i8gz.gif');
  background-size: cover;
  background-repeat: no-repeat;
  
  height: 100vh;
  padding: 0;
  margin: 0;
}
.jumbotron{
  background: none;
  border-style: solid;
  border-color: #ff5e4a;
  border: 5px;
}

h2 {
  color: white;
}
h1{
  color: #ffca24;
}

